.persona-view {
  >.loading-spinner {
    width : 32px;
    height: 32px;
  }

  @container (width <=752px) {
    >.persona-display {

      >header,
      >.mobile-button-container {
        padding: 0 16px;
      }
    }
  }
}