.navbar-menu-item {
  display    : flex;
  align-items: center;
  gap        : 12px;
  color      : #616161;
  transition : color 0.12s ease;

  @media (pointer: fine) {
    &:hover {
      color: #fff;
    }
  }

  &:active {
    color: #fff;
  }

  &.active {
    color: #fff;
  }

  .icon {
    display: flex;
    align-items: center;
  }
}