.name-selector-modal {
  >main {
    display       : flex;
    flex-direction: column;
    gap           : 12px;

    >.name-display {
      >.loading-spinner {
        width : 32px;
        height: 32px;
      }
    }
  }
}