.write-post-view {
  >header {
    font-size : 32px;
    text-align: center;
  }

  >main {
    padding: 72px 0 72px;
  }

  >footer {
    display        : flex;
    justify-content: flex-end;

    >button.post {
      width: 120px;
    }
  }
}